@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-avaliable;
}

body {
  height: -webkit-fill-avaliable;
  background-color: #121212;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
